<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>JSON API</h2>

<ul>
  <li><a href="/recipes-json">GET members from recipes.json</a></li>
</ul>

<h2>DB API</h2>
<ol>
  <li>create database
    <strong>'recipes'</strong>
    using
    <a href="http://localhost/phpmyadmin/" target="_blank">http://localhost/phpmyadmin</a>
  </li>
  <li><a href="/recipes/install">create MySQL members TABLE</a></li>
  <li><a href="/recipes">GET members from MySQL</a></li>
</ol>